<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>630787150580-gveuvps70jamd3gkr5osrsppvqa4lp4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630787150580-gveuvps70jamd3gkr5osrsppvqa4lp4i</string>
	<key>API_KEY</key>
	<string>AIzaSyCQuBVj4X16g3WcJk7cqfuvLTIRloYT4u0</string>
	<key>GCM_SENDER_ID</key>
	<string>630787150580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>akgoyal.GetOut</string>
	<key>PROJECT_ID</key>
	<string>getout-c53f3</string>
	<key>STORAGE_BUCKET</key>
	<string>getout-c53f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630787150580:ios:16cbfc9df9f0633f</string>
	<key>DATABASE_URL</key>
	<string>https://getout-c53f3.firebaseio.com</string>
</dict>
</plist>